<!DOCTYPE html>
<html>
    <body>
            <form>
                Enter Name:<input type='text' name='name' placeholder='enter name' />
                Enter City:<input type='text' name='city' placeholder='enter city' />
               <button>Submit</button>
        </form>
      
    </body>
</html>
