<!DOCTYPE html>
<html>
    <body>
    {{{pageTitle}}}
       <button id='create'>CREATE</button>
       <script>
           const TheId = document.querySelector('#create')
           TheId.addEventListener('click', (e) => {
               e.preventDefault()
                location.assign('\create')
           })

       </script>
    </body>
</html>